<h1>Admin::Dashboard#show</h1>

<table class="table table-bordered">
<thead>
  <tr>
    <th> Number of Products in Database </th>
    <th> Number of Categories in Database </th>
  </tr>
</thead>
<tbody>
  <%= render 'stats' %>
</tbody>
</table>